@use '@/styles/variables.scss' as *;

.section {
	position: relative;

	width: 100%;
	z-index: 4;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1156px;
	margin: 0 auto;

	padding-top: 40px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.inside .left {
	position: relative;

	display: flex;
	gap: 48px;
	align-items: center;
}

.inside .left .logo {
	position: relative;

	width: 85px;
	height: auto;
}

.inside .left .menu {
	position: relative;

	display: flex;
	gap: 34px;
	align-items: center;
}

.inside .left .menu .link {
	position: relative;

	color: $color-green;
	font-family: $font2;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;

	text-shadow: rgb(24, 80, 50) 2px 0px 0px,
		rgb(24, 80, 50) 1.75517px 0.958851px 0px,
		rgb(24, 80, 50) 1.0806px 1.68294px 0px,
		rgb(24, 80, 50) 0.141474px 1.99499px 0px,
		rgb(24, 80, 50) -0.832294px 1.81859px 0px,
		rgb(24, 80, 50) -1.60229px 1.19694px 0px,
		rgb(24, 80, 50) -1.97998px 0.28224px 0px,
		rgb(24, 80, 50) -1.87291px -0.701566px 0px,
		rgb(24, 80, 50) -1.30729px -1.5136px 0px,
		rgb(24, 80, 50) -0.421592px -1.95506px 0px,
		rgb(24, 80, 50) 0.567324px -1.91785px 0px,
		rgb(24, 80, 50) 1.41734px -1.41108px 0px,
		rgb(24, 80, 50) 1.92034px -0.558831px 0px;

	transition: color $animation1;
}

.inside .left .menu .link:hover {
	color: $color-white;
	cursor: pointer;
}

.inside .right {
	position: relative;

	display: flex;
	align-items: center;
	gap: 12px;
}

.inside .right .btn {
	position: relative;
	height: 42px;

	p {
		padding: 0px 24px;
		font-size: 14px;
	}
}

// RWD
@media (max-width: 1050px) {
	.inside .left .menu {
		display: none;
	}
}

@media (max-width: 650px) {
	.section .inside {
		padding-top: 20px;
	}
}
