@use '@/styles/variables.scss' as *;

.section {
	position: relative;

	width: 100%;
	z-index: 4;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1156px;
	margin: 0 auto;
	margin-top: 120px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 42px;
}

.inside .content {
	position: relative;

	order: 2;

	width: 100%;
	max-width: 650px;

	display: flex;
	flex-direction: column;
}

.inside .content .title {
	position: relative;

	color: $color-green;
	font-family: $font1;
	font-size: 54px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;

	word-spacing: 4px;

	text-shadow: rgb(24, 80, 50) 2px 0px 0px,
		rgb(24, 80, 50) 1.75517px 0.958851px 0px,
		rgb(24, 80, 50) 1.0806px 1.68294px 0px,
		rgb(24, 80, 50) 0.141474px 1.99499px 0px,
		rgb(24, 80, 50) -0.832294px 1.81859px 0px,
		rgb(24, 80, 50) -1.60229px 1.19694px 0px,
		rgb(24, 80, 50) -1.97998px 0.28224px 0px,
		rgb(24, 80, 50) -1.87291px -0.701566px 0px,
		rgb(24, 80, 50) -1.30729px -1.5136px 0px,
		rgb(24, 80, 50) -0.421592px -1.95506px 0px,
		rgb(24, 80, 50) 0.567324px -1.91785px 0px,
		rgb(24, 80, 50) 1.41734px -1.41108px 0px,
		rgb(24, 80, 50) 1.92034px -0.558831px 0px, 6px 6px 0px $color-darkgreen3;

	span {
		color: $color-white;
	}
}

.inside .content .desc {
	position: relative;
	margin-top: 16px;

	width: 100%;

	color: $color-darkgreen;
	font-family: $font2;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 133%;
	letter-spacing: 0.24px;

	white-space: pre-line;
}

.inside .content .contentButtons {
	position: relative;
	margin-top: 32px;

	display: flex;
	gap: 42px;
	align-items: center;
}

.inside .content .contentButtons .longBtn {
	position: relative;
	height: 52px;

	p {
		padding: 0px 24px;
		font-size: 24px;
	}
}

.inside .media {
	position: relative;

	order: 1;
	margin-left: -35px;

	width: 100%;
	max-width: 360px;
	height: auto;
}

.inside .media::before {
	position: absolute;
	content: '';

	left: 0px;
	bottom: 0px;

	width: 100%;
	height: 450px;

	pointer-events: none;

	background: linear-gradient(
		to bottom,
		rgba($color-background, 0) 0%,
		$color-background 90%
	);

	z-index: 2;
}

// RWD
@media (max-width: 1050px) {
	.section .inside {
		flex-wrap: wrap;

		margin-top: 60px;
	}

	.inside .content {
		width: 100%;
		max-width: 100%;

		align-items: center;
	}

	.inside .content .title {
		text-align: center;
	}

	.inside .content .desc {
		text-align: center;
	}

	.inside .media {
		margin: 0 auto;
		order: 2;
	}
}

@media (max-width: 650px) {
	.inside .content .contentButtons {
		flex-wrap: wrap;
		gap: 24px;
		justify-content: center;
		align-items: center;
	}

	.inside .content .title {
		font-size: 48px;
	}

	.inside .content .desc {
		font-size: 22px;
		white-space: normal;
	}
}
