@use '@/styles/variables.scss' as *;

.section {
	position: relative;

	width: 100%;
	z-index: 4;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1156px;
	margin: 0 auto;
	margin-top: 120px;

	display: flex;
	flex-direction: column;
	gap: 32px;
}

.inside .title {
	position: relative;

	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;

	color: $color-green;
	font-family: $font1;
	font-size: 54px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;

	word-spacing: 4px;

	text-shadow: rgb(24, 80, 50) 2px 0px 0px,
		rgb(24, 80, 50) 1.75517px 0.958851px 0px,
		rgb(24, 80, 50) 1.0806px 1.68294px 0px,
		rgb(24, 80, 50) 0.141474px 1.99499px 0px,
		rgb(24, 80, 50) -0.832294px 1.81859px 0px,
		rgb(24, 80, 50) -1.60229px 1.19694px 0px,
		rgb(24, 80, 50) -1.97998px 0.28224px 0px,
		rgb(24, 80, 50) -1.87291px -0.701566px 0px,
		rgb(24, 80, 50) -1.30729px -1.5136px 0px,
		rgb(24, 80, 50) -0.421592px -1.95506px 0px,
		rgb(24, 80, 50) 0.567324px -1.91785px 0px,
		rgb(24, 80, 50) 1.41734px -1.41108px 0px,
		rgb(24, 80, 50) 1.92034px -0.558831px 0px, 6px 6px 0px $color-darkgreen3;

	span {
		color: $color-white;
	}
}

.inside .center {
	position: relative;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 42px;
}

.inside .center .lists {
	position: relative;

	order: 1;

	width: 100%;
	max-width: 500px;

	display: flex;
	flex-direction: column;
	gap: 32px;
}

.inside .center .lists .oneList {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 10px;

	left: 0px;
	top: 0px;
	transition: left $animation1, top $animation1;
}

.inside .center .lists .oneList:hover {
	cursor: default;
	left: 15px;
}

.inside .center .lists .oneList .listElement {
	position: relative;

	display: flex;
	align-items: center;
	gap: 20px;

	.square {
		position: relative;

		width: 24px;
		height: 24px;

		border-radius: 6px;
	}

	p {
		color: $color-darkgreen;
		font-family: $font2;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		text-transform: capitalize;

		span {
			color: $color-white;
		}
	}
}

.inside .center .lists .oneList .listElement[data-color='blue'] .square {
	background: #429eae;
}
.inside .center .lists .oneList .listElement[data-color='orange'] .square {
	background: #b48c4d;
}

.inside .center .circle {
	position: relative;

	order: 2;

	width: 100%;
	max-width: 448px;
	height: auto;
}

.inside .center .circle .tokenomicsBg {
	position: relative;

	width: 100%;
	height: auto;

	scale: 1;
	transition: scale $animation1;
}

.inside .center .circle .tokenomicsBg[data-hovered='true'] {
	scale: 1.1;
}

.inside .center .circle .oneColor {
	position: absolute;

	left: 50%;
	top: 50%;
	translate: -50% -50%;

	width: 100%;
	height: 100%;

	scale: 1;
	transition: scale $animation1;
}

.inside .center .circle .oneColor[data-hovered='true'] {
	scale: 1.1;
}

.inside .center .circle .logo {
	position: absolute;

	left: 50%;
	top: 50%;
	translate: -50% -50%;

	width: 120px;
	height: auto;
}

.inside .bottom {
	position: relative;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.inside .bottom .oneBox {
	position: relative;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.inside .bottom .oneBox[data-color='orange'] {
	width: calc(50% - 12px);

	flex-direction: column;

	padding: 32px 0px;

	border-radius: 8px;
	border: 2px solid $color-darkgreen2;
	background: $color-green;
	box-shadow: -6px 6px 0px 0px rgba($color-darkgreen3, 0.5);
}

.inside .bottom .oneBox[data-color='white'] {
	padding: 22px 0px;

	row-gap: 6px;

	border-radius: 8px;
	border: 2px solid $color-darkgreen2;
	background: $color-white;
	box-shadow: -6px 6px 0px 0px rgba($color-darkgreen3, 0.5);
}

.inside .bottom .oneBox .orangeTitle {
	position: relative;

	color: $color-darkgreen;
	text-align: center;
	font-family: $font2;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	text-transform: capitalize;
}

.inside .bottom .oneBox .orangeDesc {
	position: relative;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	gap: 6px;

	color: $color-white;
	font-family: $font2;
	font-size: 42px;
	font-style: normal;
	font-weight: 400;
	line-height: 90%;
	text-transform: capitalize;
	word-break: break-word;
	text-align: center;

	text-shadow: rgb(24, 80, 50) 1px 0px 0px,
		rgb(24, 80, 50) 0.540302px 0.841471px 0px,
		rgb(24, 80, 50) -0.416147px 0.909297px 0px,
		rgb(24, 80, 50) -0.989992px 0.14112px 0px,
		rgb(24, 80, 50) -0.653644px -0.756802px 0px,
		rgb(24, 80, 50) 0.283662px -0.958924px 0px,
		rgb(24, 80, 50) 0.96017px -0.279415px 0px;

	span {
		text-shadow: none;
		color: $color-darkgreen;
		font-size: 22px;
	}
}

.inside .bottom .oneBox .whiteTitle {
	position: relative;

	padding: 0px 8px;

	color: $color-darkgreen;
	text-align: center;
	font-family: $font2;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	text-transform: capitalize;

	word-break: break-all;
}

// RWD
@media (max-width: 1050px) {
	.section .inside {
		flex-wrap: wrap;

		margin-top: 60px;
	}

	.inside .center {
		flex-wrap: wrap;
		justify-content: center;
	}

	.inside .center .lists {
		justify-content: center;
	}

	.inside .center .lists .oneList {
		justify-content: center;
	}

	.inside .center .lists .oneList .listElement {
		justify-content: center;
	}

	.inside .center .lists .oneList:hover {
		left: auto;
		top: -5px;
	}
}

@media (max-width: 820px) {
	.inside .bottom .oneBox[data-color='orange'] {
		width: 100%;

		padding: 12px 0px;
	}

	.inside .bottom .oneBox[data-color='white'] {
		width: 100%;

		padding: 12px 0px;
	}
}

@media (max-width: 650px) {
	.inside .content .title {
		font-size: 48px;
	}

	.inside .center .lists {
		gap: 32px;
	}

	.inside .center .lists .oneList .listElement {
		flex-direction: column;
		gap: 4px;

		.square {
			width: 12px;
			height: 12px;

			border-radius: 4px;
		}

		p {
			text-align: center;
		}
	}

	.inside .center .circle .logo {
		width: 70px;
		height: auto;
	}
}
