// filters: https://filtergen.vercel.app
$color-black: #000;
$color-white: #fff;
$color-white-filter: brightness(0) invert(1);

$color-green: #6fed7a;
$color-green-filter: brightness(0) saturate(100%) invert(92%) sepia(80%)
	saturate(610%) hue-rotate(52deg) brightness(99%) contrast(87%);

$color-darkgreen: #144822;
$color-darkgreen-filter: brightness(0) saturate(100%) invert(23%) sepia(16%)
	saturate(1750%) hue-rotate(84deg) brightness(93%) contrast(96%);

$color-darkgreen2: #0c763d;
$color-darkgreen3: #184d3980;

$color-scroll: $color-green;
$color-background: #92b4a7;
$color-text: $color-darkgreen;

$font1: 'Catfiles';
$font2: 'Braah One';
$animation1: 0.3s;
$animation2: 1s;
